.alert {
    position: fixed;
    width: 380px;
    bottom: 20px;
    right: 20px;
    background-color: var(--card);
    border: 1px solid var(--separator);
    border-radius: 5px;
    transition: all 0.2s ease-in-out; /* Transição aplicada para mudanças suaves */
    animation: fadeInToBottom 0.4s ease-in-out forwards; /* Animação aplicada com forwards */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Classe para aplicar a animação de saída */
.alert.exit {
    animation: fadeOutToBottom 0.4s ease-in-out forwards; /* Animação aplicada com forwards */
}

@keyframes fadeInToBottom {
    0% {
        bottom: -200px; /* Começa fora da tela */
        opacity: 0;
    }
    100% {
        bottom: 20px; /* Termina na posição inicial */
        opacity: 1;
    }
}

/* Animação para deslizar o modal para fora da tela */
@keyframes fadeOutToBottom {
    0% {
        bottom: 20px;
        opacity: 1;
    }
    100% {
        bottom: -200px; /* Move o modal para fora da tela */
        opacity: 0; /* Suaviza o desaparecimento */
    }
}

.alert h3 {
    padding: 20px 20px 0px 20px;
    color: #07a007;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.alert p {
    padding: 0 20px 20px 20px;
    font-size: 0.8rem;
}

.timer-line {
    top: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--button);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: width 100ms linear;
}

.alert h3 i {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #014727;
}

@media screen and (max-width: 886px) {
    .alert {
        width: 85% !important;
        bottom: 20px;
        left: 50%; /* Move o ponto de referência para o meio */
        transform: translateX(
            -50%
        ); /* Ajusta o elemento para ficar centralizado */
    }
}
