@import url("variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* body {
    min-height: 100vh;
    background-color: var(--bg);
}
 */
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--font-pri);
}

.contain {
    width: 100%;
    flex: 1 1;
    display: flex;
}

main {
    height: 92vh;
    padding: 20px;
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    border: 1px dashed red;
}
