@import url("variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--font-pri);
}

.contain {
    height: 88vh;
    width: 100%;
    display: flex;
    /*     border: 1px solid red;
 */
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    background-color: var(--card);
    border: 1px solid var(--separator);
    border-radius: 8px;
}

.card-header {
    position: relative;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--separator);
}

.card-header h2 {
    font-size: 2rem;
}

main {
    padding: 20px;
    height: 100%;
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    /*     border: 1px dashed red;
 */
}
