:root {
    --bg: #060b10;
    --font-pri: #f0f8ff;
    --font-sec: #abb5bf;
    --theme: #0dede6;
    --hover-theme: #08fbf349;
    --button: #2e51ed;
    --card: #12181f;
    --hover-card: #1b2128;
    --hover-button: #0056b3;
    --separator: #272f38;
}
