@import url("../variables.css");

header {
    position: relative;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 0.1px solid var(--font-sec);
}

.logo-contain {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-contain img {
    width: 45px;
    height: 55px;
    /*   border: 1px solid rebeccapurple;
 */
}

.separator {
    margin-right: 5px;
    color: var(--font-sec);
}

#user {
    flex: 1;
    font-weight: 600;
    /* Adicionando controle de reticências */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    white-space: nowrap; /* Impede que o texto quebre para uma nova linha */
    text-overflow: ellipsis; /* Adiciona as reticências ao final do texto que não couber */
    max-width: 100%; /* Ajusta o tamanho máximo (ou defina um valor fixo) */
}

.user {
    /*     border: 1px dashed yellow;
 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid transparent;
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorcer */
    transition: 0.2s;
}

.user:hover > img {
    transition: 0.2s;
    border-color: var(--separator);
}

@media screen and (max-width: 900px) {
    .services-contain {
        display: none;
    }

    header {
        padding: 20px 0;
        justify-content: center;
    }

    .logo-contain {
        padding-left: 0;
        width: 100%;
    }

    .user {
        display: none;
    }

    .user img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 4px solid transparent;
        object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorcer */
        transition: 0.2s;
    }

    header {
        justify-content: space-between !important;
    }

    .logo-contain {
        width: 80%;
        justify-content: space-between;
        /*         border: 1px solid red;
 */
    }
}
