@import url("../variables.css");

.menu-sidebar {
    position: relative;
    width: 20%;
    height: 100%;
    padding: 20px;
    border-right: 1px solid var(--font-sec);
    transition: 0.3s all;
    /*     border: 1px solid red;
 */
}

#btn-alter-menu {
    position: absolute;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -15px;
    font-size: 28px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--bg);
    border: 1px solid var(--font-sec);
    background-color: var(--font-sec);
}

.menu-sidebar nav {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*     border: 1px solid yellow;
 */
}

.menu-sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    text-decoration: none;
    /*     border: 1px dashed blue;
 */
    border-radius: 5px;
    padding: 2px;
    color: var(--font-sec);
    transition: 0.3s;
}

.menu-sidebar nav a:hover {
    color: var(--theme);
    background-color: var(--hover-theme);
    transition: 0.3s;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    /*   background-color: red;
 */
}

.icon i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
}

.description {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
    /*   background-color: yellow;
 */
}

.menu-sidebar.minimize-menu-sidebar {
    padding: 20px 8px;
}

.minimize-menu-sidebar {
    width: 55px !important;
}

.minimize-menu-sidebar nav a {
    padding: 0 !important; /* Remove o padding quando a classe minimize-menu-sidebar está presente */
}

.minimize-menu-sidebar .description {
    display: none;
}

@media screen and (max-width: 900px) {
    .menu-sidebar {
        display: none;
    }
}
